body 
    {background-color: rgb(175, 221, 250);
    font: black}

div {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 100px;
        margin-left: 100px;}
    
body {font-family: 'Oswald', sans-serif;}


